@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  background-color: #FFF;
  word-break: break-all;
}

body {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.inner {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 1.5rem;
  }
}

.--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .--sp {
    display: block;
  }
}

.s-ttl {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.s-ttl h2 {
  font-family: "Jost", sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
.s-ttl h2 span {
  display: block;
  font-family: "Noto Sans JP", serif;
  line-height: 1;
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 1.25rem;
}

.s-ttl__circle {
  position: absolute;
  top: -0.625rem;
  left: -1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #00AEEF;
  border-radius: 50%;
  z-index: -1;
}

.s-ttl.--center {
  display: block;
  text-align: center;
}

.s-ttl.--center .s-ttl__circle {
  left: 40%;
}

.btn {
  width: fit-content;
}
.btn a {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.75rem;
  font-size: 1.25rem;
  color: #FFF;
  padding: 0.375rem;
}
.btn a:hover {
  opacity: 1;
}
.btn a i {
  color: #FFF;
  font-size: 1.25rem;
  transition: transform 0.3s ease;
}
.btn a:hover i {
  transform: translateX(0.625rem);
}

.btn--border {
  width: 16.25rem;
  height: 4.5rem;
}
@media screen and (max-width: 767px) {
  .btn--border {
    height: 3.4375rem;
  }
}
.btn--border a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  background-color: #FFF;
  border: 0.1875rem solid #00AEEF;
  font-size: 1.25rem;
  color: #00AEEF;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media screen and (max-width: 767px) {
  .btn--border a {
    font-size: 0.9375rem;
  }
}
.btn--border a i {
  position: absolute;
  top: 50%;
  right: 2.125rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .btn--border a i {
    font-size: 0.9375rem;
  }
}

.btn--border a:hover {
  color: #FFF;
  background-color: #00AEEF;
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.625rem;
  background: transparent;
  z-index: 100;
  transition: all 0.3s ease;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .header {
    height: 4rem;
  }
}

.header.scrolled .header__nav {
  opacity: 0;
  visibility: hidden;
}

.header.scrolled .hamburger {
  opacity: 1;
  visibility: visible;
}

.header__inner {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8.75rem 0 3.125rem;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 0.9375rem;
  }
}

.header__logo {
  width: 17.5rem;
  height: inherit;
  transition: transform 0.3s ease;
  pointer-events: auto;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 10rem;
  }
}
.header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}
.header__logo a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__logo.scrolled {
  transform: translateX(-1.25rem);
}
@media screen and (max-width: 767px) {
  .header__logo.scrolled {
    transform: translateX(0);
  }
}

.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item a,
.header__nav-item p {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.875rem;
  pointer-events: auto;
}

.top-header .header__nav-item a,
.top-header .header__nav-item p {
  color: #FFF;
}

.header__nav-item p {
  cursor: pointer;
}

.header__nav-item p {
  margin-left: 1rem;
}

.dropdown {
  position: relative;
}
.dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  top: 42%;
  transform: rotate(135deg);
  width: 0.375rem;
  height: 0.375rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transition: transform 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 3.75rem;
  left: 1.5rem;
  background-color: #00AEEF;
  border-radius: 0.3125rem;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.dropdown:hover > .dropdown-menu,
.dropdown:active > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover::after,
.dropdown:active::after {
  transform: rotate(-45deg);
}

.dropdown__menu-item a {
  display: block;
  padding: 0.5rem 1.25rem;
  font-family: "Noto Sans JP", serif;
  font-size: 0.9375rem;
  color: #FFF;
  text-transform: none;
}

.top-header .dropdown__menu-item a {
  color: #FFF;
}
.top-header .dropdown__menu-item a i {
  font-size: 0.625rem;
  margin-left: 0.25rem;
}

.top-header .dropdown::after {
  border-top: 0.125rem solid #FFF;
  border-right: 0.125rem solid #FFF;
}

.hamburger {
  position: fixed;
  top: 1.875rem;
  right: 1.875rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #00AEEF;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  z-index: 200;
  pointer-events: auto;
}
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    top: 0.75rem;
    right: 0.75rem;
    width: 2.8125rem;
    height: 2.8125rem;
  }
}

.hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #FFF;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 767px) {
  .hamburger span {
    width: 1.125rem;
  }
}

.hamburger span:nth-of-type(1) {
  top: -0.3125rem;
}

.hamburger span:nth-of-type(2) {
  top: 0;
}

.hamburger span:nth-of-type(3) {
  top: 0.3125rem;
}

.hamburger.is-open span:nth-of-type(1) {
  top: 0.125rem;
  transform: translateX(-50%) rotate(45deg);
}

.hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-of-type(3) {
  top: -0.125rem;
  transform: translateX(-50%) rotate(-45deg);
}

.hamburger.is-open {
  background-color: #FFF;
}

.hamburger.is-open span {
  background-color: #00AEEF;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.drawer__nav {
  position: fixed;
  top: 0;
  right: -120%;
  width: 40%;
  height: 100vh;
  background: #00AEEF;
  transition: right 0.5s ease;
  z-index: 150;
  overflow: auto;
  pointer-events: auto;
}
@media screen and (max-width: 767px) {
  .drawer__nav {
    width: 75%;
  }
}

.drawer__nav.is-open {
  right: 0;
}

.drawer__nav.is-open .drawer__nav-list {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.drawer__nav-list {
  opacity: 0;
  position: absolute;
  z-index: 160;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
}
@media screen and (max-width: 767px) {
  .drawer__nav-list {
    width: 78%;
  }
}

.drawer__nav.is-open .drawer__nav-item {
  animation: gnaviAnime 1s 0.2s forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drawer__nav-item a,
.drawer__nav-item p {
  position: relative;
  display: block;
  font-size: 1.5625rem;
  color: #FFF;
  border-bottom: 0.125rem dashed #FFF;
  text-transform: uppercase;
  padding: 1rem 1.625rem;
}
@media screen and (max-width: 767px) {
  .drawer__nav-item a,
  .drawer__nav-item p {
    font-size: 1.25rem;
    padding: 0.625rem 1.625rem;
  }
}
.drawer__nav-item a:before,
.drawer__nav-item p:before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #FFF;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion {
  border-bottom: 0.125rem dashed #FFF;
  transition: max-height 0.5s ease, transform 0.5s ease;
}
.accordion:hover .accordion-menu, .accordion.is-open .accordion-menu {
  max-height: 18.75rem;
  transform: translateY(0);
  padding-bottom: 1rem;
}
.accordion:hover p::after, .accordion.is-open p::after {
  transform: rotate(-45deg);
}

.accordion p {
  position: relative;
  border-bottom: none;
  cursor: pointer;
}
.accordion p::after {
  content: "";
  position: absolute;
  top: 48%;
  right: 1rem;
  transform: rotate(135deg);
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #FFF;
  border-right: 0.125rem solid #FFF;
  transition: transform 0.5s ease;
}

.accordion-menu {
  max-height: 0;
  overflow: hidden;
  transform: translateY(0.3125rem);
  padding-bottom: 0;
  transition: max-height 0.5s ease, transform 0.5s ease, padding-bottom 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.accordion-menu li a {
  display: block;
  font-size: 1.25rem;
  padding: 0 1.875rem;
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .accordion-menu li a {
    font-size: 0.9375rem;
    padding: 0 0 0 1.875rem;
  }
}
.accordion-menu li a i {
  font-size: 0.875rem;
  margin-left: 0.75rem;
}
@media screen and (max-width: 767px) {
  .accordion-menu li a i {
    font-size: 0.75rem;
  }
}
.accordion-menu li a:before {
  display: none;
}

.cta {
  padding: 3.75rem 0;
  background-image: url(../img/contact-bg.png);
  background-position: 50%;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .cta {
    padding: 2.5rem 0;
  }
}

.cta__ttl {
  text-align: center;
  margin-top: 1.25rem;
}
.cta__ttl h2 {
  color: #FFF;
  font-size: 3.75rem;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
}
@media screen and (max-width: 767px) {
  .cta__ttl h2 {
    font-size: 2.8125rem;
  }
}
.cta__ttl h2 span {
  font-family: "Noto Sans JP", serif;
  display: block;
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .cta__ttl h2 span {
    font-size: 0.9375rem;
  }
}

.cta__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
  margin-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  .cta__btn-wrap {
    flex-direction: column;
    margin-top: 1.25rem;
    gap: 1.25rem;
  }
}

.cta__btn {
  width: 22.5rem;
}
@media screen and (max-width: 767px) {
  .cta__btn {
    width: 16.25rem;
  }
}
.cta__btn a {
  color: #000;
  background-color: #FFF;
  border: none;
}
.cta__btn a i {
  right: 1.25rem;
}
@media screen and (max-width: 767px) {
  .cta__btn a i {
    right: 0.625rem;
  }
}

.btn--border.cta__btn a:hover {
  color: #FFF;
  background-color: #000;
}

.footer {
  padding: 2rem 0 1rem;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 2.5rem 0 1.25rem;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 0 4.375rem 3.625rem;
}
@media screen and (max-width: 767px) {
  .footer__top {
    flex-direction: column;
    padding: 0;
    max-width: 25rem;
    margin: 0 auto;
  }
}

.footer__logo {
  width: 17.5rem;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 11.25rem;
  }
}
.footer__logo img {
  width: 100%;
  display: block;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    padding: 1rem 0.75rem;
  }
}

.footer__nav-list {
  display: flex;
  gap: 9.375rem;
}
@media screen and (max-width: 767px) {
  .footer__nav-list {
    justify-content: space-between;
    gap: 0;
  }
}

.footer__nav-item {
  position: relative;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__nav-item {
    font-size: 0.9375rem;
  }
}
.footer__nav-item:before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: -1.875rem;
  width: 1rem;
  height: 1rem;
  background-color: #00AEEF;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .footer__nav-item:before {
    top: 0.5rem;
    left: -0.75rem;
    width: 0.5rem;
    height: 0.5rem;
  }
}

.footer__nav-item .footer__nav-item-wrap li a {
  text-transform: none;
}

.footer__nav-item-wrap {
  display: flex;
  flex-direction: column;
}
.footer__nav-item-wrap li a {
  font-family: "Noto Sans JP", serif;
  position: relative;
  font-size: 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
}
@media screen and (max-width: 767px) {
  .footer__nav-item-wrap li a {
    font-size: 0.75rem;
  }
}
.footer__nav-item-wrap li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.625rem;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.125rem;
  background-color: #000;
}

.footer__bottom {
  border-top: 0.125rem solid #959595;
  padding-top: 1.875rem;
}
@media screen and (max-width: 767px) {
  .footer__bottom {
    padding-top: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .footer__bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 25rem;
    margin: 0 auto;
    gap: 1.25rem;
  }
}

.footer__copyright {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 0.75rem;
  }
}

.footer__policy {
  display: block;
  margin-right: 5rem;
}
@media screen and (max-width: 767px) {
  .footer__policy {
    margin-right: 0;
  }
}
.footer__policy a {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 0.875rem;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .footer__policy a {
    font-size: 0.75rem;
  }
}

.page-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 767px) {
  .page-top {
    bottom: 0.625rem;
    right: 0.625rem;
  }
}

.page-top a {
  position: relative;
  display: inline-block;
  background-color: #EBEEF1;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .page-top a {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.page-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5625rem;
}
@media screen and (max-width: 767px) {
  .page-top a i {
    font-size: 0.9375rem;
  }
}

.page-top.appear {
  opacity: 1;
}

.page-ttl {
  background-color: #EBEEF1;
  position: relative;
}

.page-ttl__inner {
  height: 30rem;
}
@media screen and (max-width: 767px) {
  .page-ttl__inner {
    height: 18.75rem;
  }
}

.p-ttl {
  position: absolute;
  top: 50%;
  z-index: 0;
  padding-left: 0.5rem;
}
.p-ttl h1 {
  font-family: "Jost", sans-serif;
  font-size: 4.0625rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .p-ttl h1 {
    font-size: 2.25rem;
  }
}
.p-ttl h1 span {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  padding-left: 1.75rem;
  color: #a1a1a1;
  margin-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .p-ttl h1 span {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
}
.p-ttl h1 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 0.1875rem;
  background-color: #a1a1a1;
}
@media screen and (max-width: 767px) {
  .p-ttl h1 span::before {
    width: 0.75rem;
  }
}

.p-ttl__circle {
  position: absolute;
  top: -0.9375rem;
  left: -1.5625rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #00AEEF;
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .p-ttl__circle {
    top: -0.25rem;
    left: -0.25rem;
    width: 1.875rem;
    height: 1.875rem;
  }
}

.p-ttl.--section h2 {
  font-family: "Jost", sans-serif;
  font-size: 4.0625rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.p-ttl.--section h2 span {
  display: block;
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: screenFadeOut 1s ease-in-out 3s forwards;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo-container .loading-logo {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 35%;
  opacity: 0;
  transform: translateX(-50%);
  animation: logoFadeIn 1s ease-in-out 0.5s forwards, logoFadeOut 0.5s ease-in-out 2.5s forwards;
}
.logo-container .loading-logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.logo-container .loading-line {
  position: absolute;
  bottom: 24%;
  left: 0;
  width: 0%;
  height: 0.1875rem;
  background-color: #00AEEF;
  animation: lineMove 0.5s ease-in-out 1.5s forwards, lineFadeOut 0.5s ease-in-out 2.5s forwards;
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes lineFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes screenFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.top-fv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.top-fv__movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.top-fv__movie video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.top-message {
  position: relative;
  width: 100%;
  height: 100vh;
}

.scroll-down {
  position: absolute;
  top: -6.25rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  z-index: 50;
}
.scroll-down .scroll-down__txt {
  font-family: "Jost", sans-serif;
  writing-mode: vertical-rl;
  font-size: 1.25rem;
  color: #FFF;
}
.scroll-down .scroll-down__line {
  position: relative;
  width: 0.125rem;
  height: 2.5rem;
  background: #FFF;
}
.scroll-down .scroll-down__line .scroll-down__dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: #FFF;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: move-dot 3s ease-in-out infinite;
}

@keyframes move-dot {
  0% {
    top: 0%;
  }
  50% {
    top: calc(100% - 0.375rem);
  }
  100% {
    top: 0%;
  }
}
.top-message__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-message__body {
  width: 67%;
  padding: 3.75rem 0;
}

.top-message__ttl--en {
  position: relative;
  display: inline-block;
}
.top-message__ttl--en p {
  font-family: "Jost", sans-serif;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
}

.title__anime {
  display: flex;
}
.title__anime .char {
  opacity: 0;
}

.line__wrap {
  display: inline-block;
}

.top__text {
  position: relative;
}

.top__line {
  position: absolute;
  bottom: 0.5rem;
  left: -0.5rem;
  transform: scaleX(0);
  height: 1.5625rem;
  width: 104%;
  border-radius: 1.5625rem;
  background-color: #00AEEF;
  transform-origin: left center;
  z-index: -1;
}

.top-message__ttl--ja {
  margin-top: 3.125rem;
}
.top-message__ttl--ja h1 {
  font-size: 1.875rem;
  text-align: right;
  line-height: 1;
}

.top-message__txt {
  max-width: 41.875rem;
  margin-top: 2.125rem;
  margin-left: auto;
}
.top-message__txt p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.7;
}

.top-message__btn {
  margin: 1.25rem 0 0 auto;
}

.top-message__slick.slick-slider {
  width: 30%;
  height: 100vh;
}

.top-message__slick .slick-list {
  transform: rotate(180deg) !important;
  height: 100vh !important;
  overflow: hidden;
}

.top-message__slick-img {
  width: 100%;
  height: 100%;
  margin: -0.625rem 0;
  position: relative;
  transform: rotate(180deg);
}
.top-message__slick-img img {
  display: block;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 各スライドサイズ */
.--slide1,
.--slide2,
.--slide3,
.--slide4,
.--slide5,
.--slide6,
.--slide7,
.--slide8,
.--slide9,
.--slide10 {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.9375rem;
}

/* 画像が回転してもはみ出さないようにするために縮小 */
.--slide1 img,
.--slide2 img,
.--slide3 img,
.--slide4 img,
.--slide5 img,
.--slide6 img,
.--slide7 img,
.--slide8 img,
.--slide9 img,
.--slide10 img {
  width: 120%;
  height: auto;
}

/* 個別サイズ・回転調整 */
.--slide1 {
  width: 17.5rem;
  height: 13.125rem;
}

.--slide2 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(190deg);
  z-index: 10;
}

.--slide3 {
  width: 12.5rem;
  height: 12.5rem;
  transform: rotate(170deg);
}

.--slide4 {
  width: 12.5rem;
  height: 12.5rem;
  transform: rotate(190deg);
}

.--slide5 {
  width: 17.5rem;
  height: 13.125rem;
}

.--slide6 {
  width: 12.5rem;
  height: 9.375rem;
  transform: rotate(170deg);
}

.--slide7 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(190deg);
  z-index: 10;
}

.--slide8 {
  width: 15rem;
  height: 15rem;
  transform: rotate(170deg);
}

.--slide9 {
  width: 12.5rem;
  height: 12.5rem;
}

.--slide10 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(170deg);
  z-index: 10;
}

.top-message__slick-wrap.--group1,
.top-message__slick-wrap.--group2 {
  display: flex;
}

.top-works {
  background-color: #1D1D1D;
  padding: 5rem 0;
  overflow-x: hidden;
}

#top-works .s-ttl {
  color: #FFF;
}

.top-works__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-works__btn a {
  color: #FFF;
  border: 0.1875rem solid #FFF;
  background-color: #1D1D1D;
}

.top-works__btn a:hover {
  color: #000;
  background-color: #FFF;
}

.works__slick-wrap {
  margin-top: 3.5rem;
}

.works__slick-list.--bottom {
  margin-top: 3.4375rem;
}

.works__slick-img {
  width: 26.25rem;
  aspect-ratio: 450/260;
}
.works__slick-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}

.works__slick-list {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slick-dots li {
  display: inline-block;
  margin: 0 0.75rem;
}

.slick-dots button {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  color: transparent;
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #00AEEF;
}

.works__slick-img {
  transform: scale(0.7);
  transition: 1s;
}

.works__slick-img.slick-center {
  transform: scale(1);
}

.works__slick-arrow-wrap {
  display: flex;
  justify-content: center;
  gap: 25rem;
}

.works__slick-arrow {
  margin-top: 4.375rem;
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.works__slick-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.1875rem solid #000;
  border-right: 0.1875rem solid #000;
}

.works__slick-arrow.--prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.works__slick-arrow.--next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.top-artist {
  padding: 5rem 0;
}

.top-artist__list {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.top-artist__item {
  display: flex;
}

.top-artist__body {
  position: relative;
  width: 18.125rem;
  background-color: #00AEEF;
  border-radius: 0.9375rem 0 0 0.9375rem;
}

.top-artist__wrap {
  padding: 1.25rem;
  position: absolute;
  width: calc(100% - 2.5rem);
  bottom: 0;
  left: 0;
}

.top-artist__name-wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.top-artist__name h3 {
  color: #FFF;
  font-size: 1.875rem;
}
.top-artist__name h3 span {
  display: block;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
}

.top-artist__link a i {
  color: #FFF;
  font-size: 1.875rem;
}

.top-artist__sns {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-top: 1.5rem;
}
.top-artist__sns a i {
  color: #FFF;
  font-size: 2rem;
}

.top-artist__btn {
  margin: 3.125rem 0 0 auto;
}

.top-artist__img {
  position: relative;
  overflow: hidden;
  width: 76%;
  cursor: pointer;
  border-radius: 0 0.9375rem 0.9375rem 0;
}
.top-artist__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0.9375rem 0.9375rem 0;
  transition: transform 0.6s ease;
}
.top-artist__img a {
  display: block;
  position: relative;
  z-index: 2;
}
.top-artist__img a:hover img {
  transform: scale(1.1);
}

.top-artist__img a:hover {
  opacity: 1;
}

.service {
  padding: 5rem 0;
}

.service-message__ttl--en h2 {
  font-family: "Jost", sans-serif;
  font-size: 4.0625rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.service-message__txt {
  max-width: 87%;
  margin-top: 1.25rem;
  margin-left: auto;
}
.service-message__txt p {
  font-size: 1.25rem;
  line-height: 1.75;
}

.service-message__link-wrap {
  margin-top: 5rem;
}

.service-message__link-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  width: 92%;
  margin: 0 auto;
}

.service-message__link-line {
  position: absolute;
  width: 100%;
  height: 0.3125rem;
  background-color: #bebebe;
  z-index: -1;
  transform-origin: left center;
  transform: scaleX(0);
  overflow: visible;
}
.service-message__link-line .arrow {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: -0.25rem;
  transform: translateY(-50%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 1.875rem;
  height: 1.875rem;
  background-color: #bebebe;
  opacity: 0;
}

.service-message__link-list:nth-of-type(2) {
  width: 74%;
  margin-top: 1.25rem;
}

.service-message__link-item {
  width: 11.25rem;
  height: 11.25rem;
}
.service-message__link-item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00AEEF;
  border-radius: 0.9375rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.service-message__link-item a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: "Jost", sans-serif;
  font-size: 1.5625rem;
  color: #FFF;
  white-space: nowrap;
}
.service-message__link-item a:hover {
  transform: rotate(60deg);
  opacity: 1;
}

.service-message__link-item:nth-of-type(even) a {
  background-color: #6F6FE1;
}

.service__list {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-top: 6.25rem;
}

.service__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.service__list-item:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.service__list-item:nth-of-type(even) .service__list-category,
.service__list-item:nth-of-type(even) .service__list-number,
.service__list-item:nth-of-type(even) .service__btn a,
.service__list-item:nth-of-type(even) .service__btn i {
  color: #6F6FE1;
}

.service__list-body {
  width: 48%;
}

.service__list-category {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translatex(-50%);
  color: #00AEEF;
  font-size: 1.75rem;
  font-family: "Caveat", cursive;
  white-space: nowrap;
}

.service__list-ttl {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.service__list-ttl h3 {
  font-weight: 900;
  font-size: 1.75rem;
  white-space: nowrap;
  line-height: 1.5;
}

.service__list-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  line-height: 1;
}

.service__list-number {
  color: #00AEEF;
  font-size: 5rem;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  letter-spacing: -0.03em;
  white-space: nowrap;
}

.service__list-txt {
  margin-top: 0.625rem;
}
.service__list-txt p {
  font-size: 1.1rem;
  font-weight: 500;
}

.service__list-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.service__list-img.--img1 {
  width: 41%;
}

.service__list-img.--img2 {
  width: 32%;
}

.service__list-img.--img3 {
  width: 34%;
}

.service__list-img.--img4 {
  width: 41%;
}

.service__list-img.--img5 {
  width: 32%;
}

.service__list-img.--img6 {
  width: 40%;
}

.service__list-img.--img7 {
  width: 48%;
}

.service__list-img.--img8 {
  width: 34%;
}

.service__list-img-wrap {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 0.5rem;
}

.service__btn {
  margin-top: 1.25rem;
  margin-left: auto;
}
.service__btn a {
  color: #00AEEF;
  font-size: 1.25rem;
  line-height: 1;
}
.service__btn a i {
  color: #00AEEF;
  font-size: 1.5625rem;
}

.animate__animated {
  opacity: 0;
}

.contact {
  background-color: #EBEEF1;
  padding-bottom: 5rem;
}

.contact__inner {
  max-width: 61.25rem;
}

.contact__con {
  background-color: #FFF;
  border-radius: 1.25rem;
  padding: 3.125rem;
}

.contact__txt {
  padding-bottom: 3.125rem;
}
.contact__txt p {
  font-size: 1.15rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  width: 100%;
  border-top: 0.125rem solid #A4A8B6;
  padding: 1.375rem 0;
}

.form__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__wrap.--textarea {
  align-items: start;
}

.form__wrap.--textarea .form__label {
  padding-top: 0.75rem;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  width: 28.125rem;
  font-size: 1.15rem;
}
.form__label span {
  font-size: 0.75rem;
  color: #FFF;
  background-color: #DD3434;
  border-radius: 0.1875rem;
  padding: 0.25rem 0.875rem;
}

.form__input,
.form__textarea {
  width: 100%;
}

.form__input input,
.form__textarea textarea {
  width: calc(100% - 2.5rem);
  font-size: 1.25rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #EBEEF1;
  padding: 1.25rem;
}

::placeholder {
  font-family: "Noto Sans JP", serif;
  color: #ccc;
  font-size: 0.875rem;
}

.form__textarea textarea {
  height: 14.25rem;
}

.form__privacy {
  border-top: 0.125rem solid #A4A8B6;
  padding-top: 1.75rem;
  text-align: center;
}

.form__privacy input {
  display: none;
}

.form__privacy input + span {
  position: relative;
  display: inline-flex;
  font-size: 0.9375rem;
  padding-left: 2rem;
  cursor: pointer;
}

.form__privacy input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFF;
  border: 0.09375rem solid #000;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.form__privacy input + span::after {
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0.25rem;
  transform: rotate(-45deg);
  display: block;
  width: 0.75rem;
  height: 0.375rem;
  border-bottom: 0.1875rem solid #000;
  border-left: 0.1875rem solid #000;
  transition: all 0.3s;
  opacity: 0;
}

.form__privacy input + span a {
  text-decoration: underline;
}

.form__privacy input:checked + span::after {
  opacity: 1;
}

.form__btn {
  width: 16.25rem;
  height: 4.375rem;
  margin: 0.5rem auto 0;
}
.form__btn input {
  width: 100%;
  height: inherit;
  color: #FFF;
  display: inline-block;
  font-family: "Noto Sans JP", serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #000;
  border: 0.1875rem solid #000;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .form__btn input {
    font-size: 1rem;
  }
}

.form__btn input:hover {
  color: #000;
  background-color: #FFF;
  opacity: 1;
}

.outline {
  background-color: #1D1D1D;
  padding: 5rem 0;
}

.outline__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#outline .p-ttl {
  position: static;
  width: 25rem;
  color: #FFF;
}

.outline__list {
  max-width: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.outline__list-item {
  display: flex;
  align-items: start;
  background-color: #FFF;
  border-radius: 0.9375rem;
  padding: 1.875rem;
}

.outline__ttl {
  width: 7.5rem;
  flex-shrink: 0;
}
.outline__ttl h3 {
  font-size: 1.25rem;
  color: #A4A8B6;
}

.outline__txt p {
  font-size: 1.25rem;
}

.outline-en {
  background-color: #1D1D1D;
  padding: 5rem 0;
}

#outline-en .p-ttl {
  position: static;
  width: 25rem;
  color: #FFF;
}

#outline-en .outline__list-item {
  flex-direction: column;
  gap: 0.5rem;
}

#outline-en .outline__ttl {
  width: fit-content;
}

.works {
  background-color: #1D1D1D;
  padding: 5rem 0;
}

.works__inner {
  max-width: 68.75rem;
}

.tab__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  border-bottom: 0.125rem solid #00AEEF;
  padding-bottom: 2.625rem;
}

.tab__link li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 1.125rem;
  line-height: 1;
  color: #FFF;
  background-color: #1D1D1D;
  border: 0.0625rem solid #FFF;
  border-radius: 0.625rem;
  white-space: nowrap;
  padding: 1rem 1.25rem;
}

.tab__link li.is-active a {
  color: #000;
  background-color: #FFF;
  opacity: 1;
}

.tab__content {
  display: none;
  opacity: 0;
}

.tab__content.is-show {
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 2.8125rem;
  padding-top: 2.8125rem;
}

.works__list-item {
  width: 44%;
  background-color: #EBEEF1;
  padding: 1.25rem 1.25rem 0;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  display: block;
  position: relative;
  cursor: pointer;
}

.work__list-img {
  width: 100%;
  aspect-ratio: 540/310;
}
.work__list-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.work__list-ttl {
  text-align: center;
  margin-top: 1.25rem;
}
.work__list-ttl h3 {
  font-size: 1.25rem;
  color: #00AEEF;
}

.works__list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.works__list-date {
  font-size: 1rem;
  color: #c4c4c4;
  font-weight: 500;
}

.work__list-txt {
  text-align: center;
}
.work__list-txt p {
  font-size: 0.9375rem;
  color: #9C9C9C;
  font-weight: 500;
}

.works__list-category {
  margin-top: 0.6875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.works__category-item p {
  font-size: 0.9375rem;
  color: #9C9C9C;
  background-color: #FFF;
  border-radius: 1.125rem;
  padding: 0.25rem 1rem;
}

.works__list-sub-img__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.125rem;
  margin-top: 1.25rem;
}

.works__list-sub-img {
  width: 30%;
}
.works__list-sub-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.works__list-bottom {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 1rem;
}

.works__list-item.is-open {
  padding-bottom: 1.25rem;
}

.works__list-item.is-open .works__list-bottom {
  max-height: 62.5rem;
  opacity: 1;
}

.accordion__btn {
  position: relative;
  color: #9C9C9C;
}

.accordion__btn::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -1.5rem;
  transform: rotate(135deg);
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #9C9C9C;
  border-right: 0.125rem solid #9C9C9C;
  transition: transform 0.3s ease;
}

.works__list-item.is-open .works__list-top .accordion__btn::before {
  transform: rotate(-45deg);
}

.open__btn {
  display: block;
}

.close__btn {
  display: none;
  margin-right: 1.875rem;
}

.works__list-item.is-open .open__btn {
  display: none;
}

.works__list-item.is-open .close__btn {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 1.25rem;
}

.pagination__num {
  width: 2.5rem;
  height: 2.5rem;
}
.pagination__num a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 1.25rem;
  background-color: #FFF;
  border-radius: 50%;
}

.pagination__num.--arrow-left,
.pagination__num.--arrow-right {
  width: fit-content;
}
.pagination__num.--arrow-left a,
.pagination__num.--arrow-right a {
  color: #FFF;
  background-color: unset;
  text-transform: uppercase;
}

.pagination__num .--arrow-left {
  margin-right: 2.5rem;
}

.pagination__num .--arrow-right {
  margin-left: 2.5rem;
}

.pagination__num.--current a {
  color: #FFF;
  background-color: #9C9C9C;
}

.pagination__num.--ellipses a {
  color: #FFF;
  background-color: unset;
}

.artist-slick {
  padding: 12.5rem 0 8.125rem;
  background-color: #EBEEF1;
}

.artist-slick__inner {
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
}

.slick-list {
  position: relative;
}

.artist__slick-img {
  width: 100%;
  aspect-ratio: 900/500;
}
.artist__slick-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9375rem;
}

#artist-slick .slick-dots {
  bottom: -3.125rem;
}

.slick-dots li {
  display: inline-block;
  margin: 0 0.75rem;
}

.slick-dots button {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  color: transparent;
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

#artist-slick .slick-dots .slick-active button {
  background-color: #b3b3b3;
}

.archive-artist {
  padding: 5rem 0;
}

.archive-artist__inner {
  position: relative;
}

#archive-artist .p-ttl {
  position: static;
}

#archive-artist .p-ttl__circle {
  left: 1.25rem;
}

.archive-artist__list {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.75rem;
}

.archive-artist__item a {
  position: relative;
  transition: opacity 0.3s, visibility 0.3s;
}

.archive-artist__img {
  position: relative;
  max-width: 56.875rem;
  width: 100%;
  aspect-ratio: 910/420;
  border-radius: 0.9375rem;
  overflow: hidden;
}
.archive-artist__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9375rem;
  transition: background-color 0.3s;
  z-index: 2;
}
.archive-artist__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9375rem;
  display: block;
}

.archive-artist__name {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 3;
}
.archive-artist__name h2 {
  font-size: 1.875rem;
  color: #FFF;
}
.archive-artist__name h2 span {
  display: block;
  font-size: 1.25rem;
}

.archive-artist__btn {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.75rem;
  font-size: 1.25rem;
  color: #FFF;
  padding: 0.375rem;
  transition: opacity 0.3s, visibility 0.3s;
}
.archive-artist__btn:hover {
  opacity: 1;
}
.archive-artist__btn i {
  color: #FFF;
  font-size: 1.25rem;
}

.archive-artist__item a:hover {
  opacity: 1;
}

.archive-artist__item a:hover .archive-artist__img::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.archive-artist__item a:hover .archive-artist__name,
.archive-artist__item a:hover .archive-artist__btn {
  opacity: 1;
  visibility: visible;
}

.delay-05 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay-10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.rotate-in {
  position: relative;
  opacity: 0;
  transform: perspective(1000px) rotateY(90deg);
  transition: all 0.8s ease-out;
}
.rotate-in.show {
  opacity: 1;
  transform: perspective(1000px) rotateY(0deg);
}

.slide-in {
  position: relative;
  opacity: 0;
  transform: translateX(-2.5rem);
  transition: all 0.6s ease-out;
  transition-delay: 1s;
}
.slide-in.show {
  opacity: 1;
  transform: translateX(0);
}

.rotate-in-reverse {
  position: relative;
  opacity: 0;
  transform: perspective(1000px) rotateY(-90deg);
  transition: all 0.8s ease-out;
}
.rotate-in-reverse.show {
  opacity: 1;
  transform: perspective(1000px) rotateY(0deg);
}

.slide-in-reverse {
  position: relative;
  opacity: 0;
  transform: translateX(2.5rem);
  transition: all 0.6s ease-out;
  transition-delay: 1s;
}
.slide-in-reverse.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-up {
  position: relative;
  opacity: 0;
  transform: translateY(2.5rem);
  transition: all 0.6s ease-out;
  transition-delay: 1s;
  overflow: hidden;
}
.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

.delay-0 {
  transition-delay: 0s;
}

.delay-04 {
  transition-delay: 0.4s;
}

.delay-08 {
  transition-delay: 0.8s;
}

.delay-12 {
  transition-delay: 1.2s;
}

.delay-16 {
  transition-delay: 1.6s;
}

.delay-20 {
  transition-delay: 2s;
}

.artist {
  padding: 5rem 0;
}

.artist__top {
  display: flex;
  justify-content: space-between;
}

.artist__img-wrap {
  width: 40%;
}

.artist__img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.75fr 1fr;
  grid-template-areas: "areaA areaA" "areaB areaC";
  gap: 1.25rem;
}

.artist__img {
  width: 100%;
}
.artist__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist__img:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/2;
  aspect-ratio: 3/4;
}
.artist__img:nth-of-type(1) img {
  border-radius: 0.9375rem;
}

.artist__img:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  aspect-ratio: 1/1;
}

.artist__img:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  aspect-ratio: 1/1;
}

.artist___sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2.5rem;
}
.artist___sns a i {
  font-size: 2.5rem;
}

.artist__content-wrap {
  width: 55%;
}

.artist__name h2 {
  font-size: 2.25rem;
}
.artist__name h2 span {
  display: block;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.artist__btn-wrap {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

.print__btn {
  width: 16.125rem;
  height: 5rem;
}
.print__btn button {
  font-family: "Noto Sans JP", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: inherit;
  font-size: 1.5rem;
  color: #FFF;
  background-color: #000;
  border: 0.125rem solid #000;
  border-radius: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.print__btn button span {
  display: block;
  font-size: 1rem;
}

.print__btn button:hover {
  background-color: #FFF;
  color: #000;
}

.--english button {
  font-family: "Noto Sans JP", serif;
  color: #000;
  background-color: #FFF;
  text-transform: uppercase;
}
.--english button span {
  text-transform: unset;
}

.print__btn.--english button:hover {
  background-color: #000;
  color: #FFF;
}

.artist__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.5rem;
  padding: 1.25rem 0;
  border-top: 0.125rem solid #000;
  border-bottom: 0.125rem solid #000;
  margin-top: 2.5rem;
}
.artist__link p {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.artist__link a {
  font-size: 1.5625rem;
  color: #00AEEF;
  text-decoration: underline;
}

.artist__career {
  margin-top: 2.5rem;
}
.artist__career p {
  font-size: 1.15rem;
}
.artist__career p + p {
  margin-top: 1.25rem;
}

.artist__bottom {
  margin-top: 2.5rem;
}

.artist__accordion-list {
  max-width: 67.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0 auto;
}

.artist__accordion-item {
  border: 0.125rem solid #000;
  border-radius: 0.9375rem;
}

.artist__accordion-ttl,
.artist__accordion-txt {
  position: relative;
}

.artist__accordion-ttl {
  padding: 1.25rem 5rem;
  cursor: pointer;
}
.artist__accordion-ttl h3 {
  position: relative;
  font-size: 1.5rem;
}
.artist__accordion-ttl h3:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 3.125rem;
  background-color: #00AEEF;
}

.artist__accordion-txt {
  display: none;
  border-top: 0.125rem solid #6c6c6c;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 1.25rem 3.75rem;
}
.artist__accordion-txt p {
  font-size: 1.15rem;
}

.artist__accordion-item:first-of-type .artist__accordion-ttl {
  display: block;
}

.artist__accordion-ttl::before,
.artist__accordion-ttl::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #000;
  transition: all 0.3s;
}

.artist__accordion-ttl::after {
  transform: translateY(-50%) rotate(90deg);
}

.artist__accordion-ttl.is-open::after {
  transform: rotate(0deg);
}

.group {
  background-color: #1D1D1D;
  padding: 5rem 0;
}

.group__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.group__list-item {
  background-color: #FFF;
  border-radius: 0.9375rem;
  padding: 1.875rem;
}

.group__ttl {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  border-bottom: 0.125rem solid #A4A8B6;
  padding-bottom: 0.625rem;
}
.group__ttl h2 {
  font-size: 1.35rem;
}

.group__link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #00AEEF;
  border-radius: 0.9375rem;
}
.group__link a i {
  font-size: 1rem;
  color: #FFF;
}

.group__txt {
  padding-top: 0.625rem;
}
.group__txt p {
  font-size: 1rem;
  font-weight: 500;
}
.group__txt p a {
  color: #00AEEF;
  text-decoration: underline;
}
.group__txt p + p {
  margin-top: 1.25rem;
}

.policy {
  background-color: #EBEEF1;
  padding-bottom: 3.75rem;
}
@media screen and (max-width: 767px) {
  .policy {
    padding-bottom: 2.5rem;
  }
}

.policy__con {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #FFF;
  border-radius: 1.25rem;
  padding: 3.125rem;
}
@media screen and (max-width: 767px) {
  .policy__con {
    padding: 1.25rem;
  }
}
.policy__con p {
  font-size: 1.15rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .policy__con p {
    font-size: 0.9375rem;
  }
}
