@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  background-color: #FFF;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.inner {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 1.25rem;
  }
}

.s-ttl {
  position: relative;
  display: inline-block;
}
.s-ttl h2 {
  font-family: "Jost", sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}
.s-ttl h2 span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 700;
}
.s-ttl::after {
  content: "";
  position: absolute;
  top: -0.625rem;
  left: -0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #00AEEF;
  border-radius: 50%;
  z-index: -1;
}

.s-ttl.--center {
  text-align: center;
}

.btn {
  width: fit-content;
}
.btn a {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.125rem;
  font-size: 1.25rem;
  color: #FFF;
  padding: 0.75rem 0;
}
.btn a:hover {
  opacity: 1;
}
.btn a i {
  color: #FFF;
  font-size: 1.25rem;
  transition: transform 0.3s;
}
.btn a:hover i {
  transform: translateX(0.625rem);
}

.btn--header {
  width: 10rem;
  height: 2.8125rem;
}
.btn--header a {
  width: 100%;
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-size: 1.125rem;
  color: #FFF;
  background-color: #00AEEF;
  border: 0.1875rem solid #00AEEF;
  border-radius: 1.4375rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn--header a:hover {
  color: #00AEEF;
  background-color: #FFF;
  opacity: 1;
}

.btn--border {
  width: 25rem;
  height: 6.25rem;
}
.btn--border a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
  background-color: #FFF;
  border: 0.1875rem solid #00AEEF;
  font-size: 1.5625rem;
  color: #00AEEF;
  transition: color 0.3s, background-color 0.3s;
}
.btn--border a i {
  position: absolute;
  top: 50%;
  right: 2.125rem;
  transform: translateY(-50%);
  font-size: 1.5625rem;
}

.btn--border a:hover {
  color: #FFF;
  background-color: #00AEEF;
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.625rem;
  background: transparent;
  z-index: 90;
  transition: all 0.3s;
}

.header.scrolled .header__nav {
  opacity: 0;
  visibility: hidden;
}

.header.scrolled .hamburger {
  opacity: 1;
  visibility: visible;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  height: inherit;
}

.header__logo {
  max-width: 21.875rem;
  width: 100%;
  height: inherit;
  transition: transform 0.3s;
}
.header__logo a {
  display: flex;
  align-items: center;
  height: inherit;
}
.header__logo a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__logo.scrolled {
  transform: translate(-1.25rem, -0.625rem);
}

.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item a,
.header__nav-item p {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 1rem;
}

.top-header .header__nav-item a,
.top-header .header__nav-item p {
  color: #FFF;
}

.header__nav-item p {
  cursor: pointer;
}

.header__nav-item p {
  padding: 1rem 2.5rem 1rem 1rem;
}

.header__btn {
  margin-left: 1rem;
}

.dropdown {
  position: relative;
}
.dropdown:after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 40%;
  transform: rotate(135deg);
  width: 0.375rem;
  height: 0.375rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
}

.dropdown-menu {
  position: absolute;
  top: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.dropdown:hover > .dropdown-menu,
.dropdown:active > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown__menu-item a {
  display: block;
  padding: 0.75rem;
  font-size: 1rem;
  color: #000;
}

.top-header .dropdown__menu-item a {
  color: black;
}

.top-header .dropdown::after {
  border-top: 0.125rem solid #FFF;
  border-right: 0.125rem solid #FFF;
}

.hamburger {
  position: fixed;
  top: 1.875rem;
  right: 1.875rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #00AEEF;
  border: 0.125rem solid #00AEEF;
  border-radius: 1.875rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.hamburger:hover {
  background-color: #FFF;
  color: #00AEEF;
}

.hamburger:hover span {
  background-color: #00AEEF;
}

.hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #FFF;
  transition: all 0.3s;
}

.hamburger span:nth-of-type(1) {
  top: -0.375rem;
}

.hamburger span:nth-of-type(2) {
  top: 0;
}

.hamburger span:nth-of-type(3) {
  top: 0.375rem;
}

.hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-of-type(3) {
  top: -0.25rem;
  transform: translateX(-50%) rotate(-45deg);
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.drawer__nav {
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background: #00AEEF;
  transition: right 0.3s;
  z-index: 900;
  overflow: auto;
}

.drawer__nav.is-open {
  right: 0;
}

.drawer__nav.is-open .drawer__nav-list {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.drawer__nav-list {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 25rem;
  width: 80%;
}

.drawer__nav.is-open .drawer__nav-item {
  animation: gnaviAnime 1s 0.2s forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drawer__nav-item a,
.drawer__nav-item p {
  position: relative;
  display: block;
  font-size: 1.5625rem;
  color: #FFF;
  border-bottom: 0.125rem dashed #FFF;
  text-transform: uppercase;
  padding: 1.5rem;
}
.drawer__nav-item a:before,
.drawer__nav-item p:before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #FFF;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion {
  border-bottom: 0.125rem dashed #FFF;
}

.accordion p {
  position: relative;
  border-bottom: none;
  cursor: pointer;
}
.accordion p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) rotate(135deg);
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #FFF;
  border-right: 0.125rem solid #FFF;
  transition: transform 0.3s;
}
.accordion p.is-open::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-menu {
  display: none;
  padding-bottom: 1.5rem;
}

.accordion-menu.is-open {
  display: block;
}

.accordion-menu li a {
  display: block;
  font-size: 1.25rem;
  border-bottom: none;
  padding: 0.75rem 1.5rem;
}
.accordion-menu li a:before {
  display: none;
}

.cta {
  padding: 5rem 0;
  background-image: url(../img/contact-bg.png);
  background-position: 50%;
  background-size: cover;
}

.cta__ttl {
  text-align: center;
}
.cta__ttl h2 {
  color: #FFF;
  font-size: 4.6875rem;
}
.cta__ttl h2 span {
  display: block;
  font-size: 1.25rem;
}

.cta__btn {
  margin: 2.5rem auto 0;
}
.cta__btn a {
  color: #000;
  background-color: #FFF;
  border: 0.1875rem solid #FFF;
}

.cta a:hover {
  background-color: transparent;
}

.footer {
  padding: 3.75rem 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.75rem;
}

.footer__logo {
  width: 22.5rem;
}
.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__nav-list {
  display: flex;
  gap: 7.5rem;
}

.footer__nav-item {
  position: relative;
}
.footer__nav-item a {
  font-family: "Jost", sans-serif;
  font-size: 1.5625rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
}
.footer__nav-item p {
  font-family: "Jost", sans-serif;
  font-size: 1.5625rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
}
.footer__nav-item:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #00AEEF;
  border-radius: 50%;
}

.footer__nav-item-wrap {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__nav-item-wrap li {
  padding-left: 1.25rem;
}
.footer__nav-item-wrap li a {
  position: relative;
  font-size: 0.9375rem;
}
.footer__nav-item-wrap li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.125rem;
  background: #000;
}

.footer__bottom {
  border-top: 0.125rem solid #959595;
  padding-top: 2.5rem;
  position: relative;
}

.footer__copyright {
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer__policy {
  position: absolute;
  display: inline-block;
  font-size: 0.9375rem;
  text-decoration: underline;
  right: 5rem;
}

.page-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s;
}

.page-top a {
  position: relative;
  display: inline-block;
  background-color: #EBEEF1;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  text-decoration: none;
}
.page-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5625rem;
}

.page-top.appear {
  opacity: 1;
}

.page-ttl {
  background-color: #EBEEF1;
  position: relative;
}

.page-ttl__inner {
  height: 38.75rem;
}

.p-ttl {
  position: absolute;
  top: 45%;
  z-index: 0;
}
.p-ttl h1 {
  font-family: "Jost", sans-serif;
  font-size: 4.6875rem;
  font-weight: 900;
  text-transform: uppercase;
}
.p-ttl h1 span {
  position: relative;
  display: block;
  font-size: 1.875rem;
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  padding-left: 2.5rem;
  color: #a1a1a1;
}
.p-ttl h1 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 0.1875rem;
  background-color: #a1a1a1;
}

.p-ttl__circle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -2.5rem;
  width: 5rem;
  height: 5rem;
  background-color: #00AEEF;
  border-radius: 50%;
  z-index: -1;
}

.p-ttl.--section h2 {
  font-size: 4.6875rem;
  text-transform: uppercase;
}
.p-ttl.--section h2 span {
  display: block;
  font-size: 1.875rem;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  -webkit-animation: slideOut 1s ease-in-out 3s forwards;
  animation: slideOut 1s ease-in-out 3s forwards;
}

.logo-container {
  position: relative;
  width: 100%;
}
.logo-container .logo {
  width: 30%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: fadeInScale 1.5s ease-out forwards, fadeOut 1s ease-in-out 2s forwards;
  animation: fadeInScale 1.5s ease-out forwards, fadeOut 1s ease-in-out 2s forwards;
  margin: 0 auto;
}
.logo-container .logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.logo-container .line {
  position: absolute;
  bottom: -6.25rem;
  left: 0;
  width: 0%;
  height: 0.25rem;
  background-color: #00AEEF;
  -webkit-animation: lineMove 0.5s 1.5s ease-in-out forwards, fadeOut 1s ease-in-out 2s forwards;
  animation: lineMove 0.5s 1.5s ease-in-out forwards, fadeOut 1s ease-in-out 2s forwards;
}

@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes lineMove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.top-fv {
  position: relative;
}

.top-fv__movie {
  width: 100%;
  height: 100vh;
}
.top-fv__movie img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  z-index: 50;
}
.scroll-down .scroll-down__txt {
  font-family: "Jost", sans-serif;
  writing-mode: vertical-rl;
  font-size: 1.25rem;
  color: #FFF;
}
.scroll-down .scroll-down__line {
  position: relative;
  width: 0.125rem;
  height: 3.75rem;
  background: #FFF;
}
.scroll-down .scroll-down__line .scroll-down__dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: #FFF;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: move-dot 3s ease-in-out infinite;
}

@keyframes move-dot {
  0% {
    top: 0%;
  }
  50% {
    top: calc(100% - 0.375rem);
  }
  100% {
    top: 0%;
  }
}
.top-message {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.top-message__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-message__body {
  width: 65%;
  padding: 3.75rem 0;
}

.top-message__ttl--en h1 {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 3.125rem;
  font-weight: 800;
  text-transform: uppercase;
}

.top-message__ttl--en span {
  position: relative;
  display: inline-block;
}

.top-message__ttl--en span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  height: 1.5625rem;
  background: #00AEEF;
  border-radius: 0.8125rem;
  transition: width 0.5s ease;
  z-index: -1;
}

.top-message__ttl--ja {
  margin-top: 2.5rem;
}
.top-message__ttl--ja p {
  font-size: 1.875rem;
  text-align: right;
}

.top-message__txt {
  margin-top: 1.875rem;
}
.top-message__txt p {
  font-size: 1.125rem;
  font-weight: 500;
}

.top-message__btn {
  margin: 1.25rem 0 0 auto;
}

.top-message__slick.slick-slider {
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.top-message__slick .slick-list {
  transform: rotate(180deg) !important;
  height: 70vh !important;
}

.top-message__slick-img {
  width: 100%;
  margin: 0.625rem 0;
  position: relative;
  transform: rotate(180deg);
}
.top-message__slick-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

/* 各スライドサイズ */
.--slide1,
.--slide2,
.--slide3,
.--slide4,
.--slide5,
.--slide6,
.--slide7,
.--slide8,
.--slide9,
.--slide10 {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.9375rem;
}

/* 画像が回転してもはみ出さないようにするために縮小 */
.--slide1 img,
.--slide2 img,
.--slide3 img,
.--slide4 img,
.--slide5 img,
.--slide6 img,
.--slide7 img,
.--slide8 img,
.--slide9 img,
.--slide10 img {
  width: 120%;
  height: auto;
}

/* 個別サイズ・回転調整 */
.--slide1 {
  width: 17.5rem;
  height: 13.125rem;
}

.--slide2 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(190deg);
  z-index: 10;
}

.--slide3 {
  width: 12.5rem;
  height: 12.5rem;
  transform: rotate(170deg);
}

.--slide4 {
  width: 12.5rem;
  height: 12.5rem;
  transform: rotate(190deg);
}

.--slide5 {
  width: 17.5rem;
  height: 13.125rem;
}

.--slide6 {
  width: 12.5rem;
  height: 9.375rem;
  transform: rotate(170deg);
}

.--slide7 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(190deg);
  z-index: 10;
}

.--slide8 {
  width: 15rem;
  height: 15rem;
  transform: rotate(170deg);
}

.--slide9 {
  width: 12.5rem;
  height: 12.5rem;
}

.--slide10 {
  width: 18.75rem;
  height: 25rem;
  transform: rotate(170deg);
  z-index: 10;
}

.top-message__slick-wrap.--group1,
.top-message__slick-wrap.--group2 {
  display: flex;
}

.top-works {
  background-color: #1D1D1D;
  padding: 3.75rem 0;
  overflow-x: hidden;
}

#top-works .s-ttl {
  color: #FFF;
}

.top-works__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-works__btn a {
  color: #FFF;
  border: 0.1875rem solid #FFF;
  background-color: #1D1D1D;
}

.top-works__btn a:hover {
  color: #000;
  background-color: #FFF;
}

.works__slick-wrap {
  margin-top: 3.4375rem;
}

.works__slick-list.--top {
  padding-right: 10%;
}

.works__slick-list.--bottom {
  margin-top: 3.4375rem;
  margin-left: 10%;
}

.works__slick-img {
  max-width: 28.125rem;
  width: 100%;
  aspect-ratio: 450/260;
  margin: 0 1.375rem;
}
.works__slick-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}

.top-artist {
  padding: 3.75rem 0;
}

.top-artist__list {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.top-artist__item {
  display: flex;
}

.top-artist__body {
  position: relative;
  width: 18.125rem;
  background-color: #00AEEF;
  border-radius: 0.9375rem 0 0 0.9375rem;
}

.top-artist__wrap {
  padding: 1.25rem;
  position: absolute;
  width: calc(100% - 2.5rem);
  bottom: 0;
  left: 0;
}

.top-artist__name-wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.top-artist__name h3 {
  color: #FFF;
  font-size: 1.875rem;
}
.top-artist__name h3 span {
  display: block;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
}

.top-artist__link a i {
  color: #FFF;
  font-size: 2rem;
}

.top-artist__sns {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.875rem;
}
.top-artist__sns a i {
  color: #FFF;
  font-size: 2rem;
}

.top-artist__btn {
  margin: 3.125rem 0 0 auto;
}

.top-artist__img {
  width: 76%;
}
.top-artist__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0.9375rem 0.9375rem 0;
}

.service {
  padding: 3.75rem 0;
}

.service-message__ttl--en h2 {
  font-family: "Jost", sans-serif;
  font-size: 4.0625rem;
  text-transform: uppercase;
}

.service-message__txt {
  max-width: 95%;
  margin-top: 1.25rem;
  margin-left: auto;
}
.service-message__txt p {
  font-size: 1.25rem;
}

.service-message__link-wrap {
  margin-top: 3.75rem;
}

.service-message__link-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 98%;
  margin: 0 auto;
}

.service-message__link-line {
  position: absolute;
  width: 100%;
  height: 0.3125rem;
  background-color: #bebebe;
  z-index: -1;
  transform-origin: left center;
  transform: scaleX(0);
  overflow: visible;
}
.service-message__link-line .arrow {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: -0.25rem;
  transform: translateY(-50%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 1.875rem;
  height: 1.875rem;
  background-color: #bebebe;
  opacity: 0;
}

.service-message__link-list:nth-of-type(2) {
  width: 78%;
  margin-top: 1.25rem;
}

.service-message__link-item {
  width: 13.125rem;
  height: 13.125rem;
}
.service-message__link-item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00AEEF;
  border-radius: 0.9375rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.service-message__link-item a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-family: "Jost", sans-serif;
  font-size: 1.875rem;
  color: #FFF;
  white-space: nowrap;
}
.service-message__link-item a:hover {
  transform: rotate(60deg);
  opacity: 1;
}

.service-message__link-item:nth-of-type(even) a {
  background-color: #6F6FE1;
}

.service__list {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-top: 6.25rem;
}

.service__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__list-item:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.service__list-item:nth-of-type(even) .service__list-category,
.service__list-item:nth-of-type(even) .service__list-number,
.service__list-item:nth-of-type(even) .service__btn a,
.service__list-item:nth-of-type(even) .service__btn i {
  color: #6F6FE1;
}

.service__list-wrap {
  color: #00AEEF;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}

.service__list-category {
  font-size: 2.1875rem;
  font-family: "Caveat", cursive;
}

.service__list-number {
  font-size: 6.25rem;
  font-family: "Jost", sans-serif;
  font-weight: 900;
}

.service__list-img {
  width: 45%;
}
.service__list-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.service__list-img.--img1 {
  width: 13.75rem;
}

.service__list-img.--img2 {
  width: 16.875rem;
}

.service__list-img-wrap {
  width: 45%;
  display: flex;
  align-items: end;
  gap: 0.875rem;
}

.service__list-body {
  width: 51%;
}

.service__list-ttl {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.service__list-ttl h3 {
  font-weight: 900;
  font-size: 2.1875rem;
}

.service__list-txt p {
  font-size: 1.25rem;
  line-height: 35/20;
}

.service__btn {
  margin-top: 1.875rem;
  margin-left: auto;
}
.service__btn a {
  color: #00AEEF;
  font-size: 1.5625rem;
}
.service__btn a i {
  color: #00AEEF;
  font-size: 1.5625rem;
}

.contact {
  background-color: #EBEEF1;
  padding-bottom: 5rem;
}

.contact__con {
  background-color: #FFF;
  border-radius: 1.25rem;
  padding: 3.125rem;
}

.contact__txt {
  padding-bottom: 3.125rem;
  border-bottom: 0.125rem solid #A4A8B6;
}
.contact__txt p {
  font-size: 1.25rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  width: 100%;
  border-top: 0.125rem solid #000;
  padding: 1.375rem 0;
}

.form__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__wrap.--radio,
.form__wrap.--checkbox,
.form__wrap.--textarea {
  align-items: start;
}

.form__wrap.--textarea .form__label {
  padding-top: 0.75rem;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  width: 28.125rem;
  font-size: 1.25rem;
}
.form__label span {
  font-size: 0.75rem;
  color: #FFF;
  background-color: #DD3434;
  border-radius: 0.1875rem;
  padding: 0.25rem 0.875rem;
}

.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
  width: 100%;
}

.form__input input,
.form__textarea textarea {
  width: calc(100% - 2.5rem);
  font-size: 1.25rem;
  border: none;
  border-radius: 0.625rem;
  background-color: #EBEEF1;
  padding: 1.25rem;
}

::placeholder {
  font-family: "Noto Sans JP", serif;
  color: #ccc;
}

.form__select {
  position: relative;
}
.form__select select {
  width: 100%;
  font-family: "Noto Sans JP", serif;
  font-size: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.625rem;
  padding: 1.25rem;
  appearance: none;
  cursor: pointer;
}
.form__select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: translateY(-50%) rotate(135deg);
  pointer-events: none;
}

.form__radio,
.form__checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.form__radio input,
.form__checkbox input,
.form__privacy input {
  display: none;
}

.form__radio input + span,
.form__checkbox input + span,
.form__privacy input + span {
  cursor: pointer;
  padding-left: 2rem;
  position: relative;
}

.form__radio input + span::before,
.form__checkbox input + span::before,
.form__privacy input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFF;
  border: 1px solid #9C9C9C;
}

.form__radio input + span::before {
  border-radius: 50%;
}

.form__radio input + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  transform: translateY(-50%);
  width: 0.375rem;
  height: 0.375rem;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.125rem;
  opacity: 0;
  transition: all 0.3s;
}

.form__radio input:checked + span::after {
  opacity: 1;
}

.form__checkbox input + span::after,
.form__privacy input + span::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.125rem;
  transform: rotate(-45deg);
  width: 1rem;
  height: 0.5rem;
  border-bottom: 0.1875rem solid #000;
  border-left: 0.1875rem solid #000;
  transition: all 0.3s;
  opacity: 0;
}

.form__checkbox input:checked + span::after,
.form__privacy input:checked + span::after {
  opacity: 1;
}

.form__textarea textarea {
  height: 16.75rem;
}

.form__privacy {
  padding-top: 2.5rem;
  text-align: center;
  border-top: 0.125rem solid #000;
}

.form__privacy input {
  display: none;
}

.form__privacy input + span {
  position: relative;
  font-size: 0.9375rem;
  padding-left: 1.875rem;
  cursor: pointer;
}

.form__privacy input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFF;
  border: 0.09375rem solid #000;
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
}

.form__privacy input + span::after {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0.125rem;
  transform: rotate(-45deg);
  display: block;
  width: 0.75rem;
  height: 0.375rem;
  border-bottom: 0.125rem solid #000;
  border-left: 0.125rem solid #000;
  transition: all 0.3s;
  opacity: 0;
}

.form__privacy input + span a {
  text-decoration: underline;
}

.form__privacy input:checked + span::after {
  opacity: 1;
}

.form__btn {
  width: 24.6875rem;
  height: 6.5625rem;
  margin: 2.5rem auto 0;
}
.form__btn input {
  width: 100%;
  height: inherit;
  color: #FFF;
  display: inline-block;
  font-family: "Noto Sans JP", serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #000;
  border: 0.1875rem solid #000;
  border-radius: 3.3125rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .form__btn input {
    font-size: 1rem;
  }
}

.form__btn input:hover {
  color: #000;
  background-color: #FFF;
  opacity: 1;
}

.works {
  background-color: #1D1D1D;
  padding: 5rem 0;
}

.tab__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  border-bottom: 0.125rem solid #FFF;
  padding-bottom: 2.1875rem;
}

.tab__link li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 1.5625rem;
  color: #FFF;
  background-color: #1D1D1D;
  border: 0.0625rem solid #FFF;
  border-radius: 0.625rem;
  white-space: nowrap;
  padding: 1.25rem;
}

.tab__link li.is-active a {
  color: #000;
  background-color: #FFF;
  opacity: 1;
}

.tab__content {
  display: none;
  opacity: 0;
  padding-top: 2.1875rem;
}

.tab__content.is-show {
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.works__list-item {
  width: 45%;
  background-color: #EBEEF1;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.work__list-img {
  width: 100%;
  aspect-ratio: 540/310;
}
.work__list-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.work__list-ttl {
  text-align: center;
  margin-top: 1.6875rem;
}
.work__list-ttl h3 {
  font-size: 1.5625rem;
}

.work__list-txt {
  text-align: center;
  margin-top: 1.0625rem;
}
.work__list-txt p {
  font-size: 0.9375rem;
  color: #9C9C9C;
}

.works__list-category {
  margin-top: 0.6875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.works__category-item p {
  font-size: 0.9375rem;
  color: #9C9C9C;
  background-color: #FFF;
  border-radius: 0.9375rem;
  padding: 0.25rem 1rem;
}

.works__list-sub-img__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.125rem;
  margin-top: 1.125rem;
}

.works__list-sub-img {
  width: 30%;
}
.works__list-sub-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.works__list-date {
  text-align: right;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  color: #9C9C9C;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.pagination__num {
  width: 3.125rem;
  height: 3.125rem;
}
.pagination__num a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 1.5625rem;
  background-color: #FFF;
  border-radius: 50%;
}

.pagination__num.--arrow {
  width: fit-content;
}
.pagination__num.--arrow a {
  color: #FFF;
  background-color: unset;
  text-transform: uppercase;
}

.pagination__num.--current a {
  color: #FFF;
  background-color: #9C9C9C;
}

.pagination__num.--ellipses a {
  color: #FFF;
  background-color: unset;
}
