$black: #000;
$black2: #1D1D1D;
$white: #FFF;
$gray: #EBEEF1;
$gray2: #A4A8B6;
$gray3: #9C9C9C;
$gray4: #6c6c6c;
$gray5: #b3b3b3;
$gray6: #959595;
$gray7: #bebebe;
$gray8: #a1a1a1;
$gray9: #c4c4c4;
$blue: #2F6CC2;
$blue2: #0066C0;
$red: #DD3434;
$main: #00AEEF;
$main2: #6F6FE1;